rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /shipments/{shipId}/{fileName} {
      allow read: if true;
      allow write: if true;
    }
  }
}